<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/zerotomei-front/shared/styles/reset.css">
    <link rel="stylesheet" href="/zerotomei-front/shared/styles/global.css">
    <link rel="stylesheet" href="/zerotomei-front/shared/components/Navbar/style.css">
    <title></title>
  </head>
  <body>
    <div class="menu_box">
      <a href="">
        <h3>Visão geral</h3> </a
      ><a href="">
        <h3>Receitas</h3> </a
      ><a href="">
        <h3>Despesas</h3> </a
      ><a href="">
        <h3>Contas</h3>
      </a>
    </div>
  </body>
</html>
