<header class="topo-mei">
    <div class="topo-mei__marca">
        <img class="topo-mei__logo" src="../Assets/Logo.svg" alt="Do Zero ao MEI">

        <h1>Meu Mei</h1>
    </div>

    <button class="topo-mei__filtro">
        <img src="../Assets/Filter.svg" alt="Filtrar">
    </button>
</header>

<nav class="abas-mei">
    <a class="abas-mei__item" href="../MeuMei/index.html">Meu Mei</a>
    <a class="abas-mei__item" href="../Obrigações/index.html">Obrigações</a>
    <a class="abas-mei__item" href="../Guias/index.html">Guias</a>
</nav>
